page-blog {
  .container {
    .title {
      padding: 20px;
      text-align: center;
    }

    .content {
      a {
        text-decoration: none;
        pointer-events: none;
      }
    }
  }  
}
  