page-quizz {
  .container {
    text-align: center;
    
    h3 {
      margin-bottom: 20px;
    }

    > div {
      display: inline-flex;
      width: 100%;

      a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 40vw;
        height: 3.3em;
        border-radius: 9px !important;
        border: 1px solid #f3d58f;
        background-color: #fff;
        color: #f3d58f;
        margin: 5px;
      };

      a:active {
        background-color: #f7f7f7;
      }      
    }

    span {
      display: block;
      margin-top: 20px;
      color: #fff;
    }

  }

  .status1, .status2 {
    a.correct {
      border: 1px solid #60ab00;
      color: #60ab00;
    }

    a.incorrect {
      border: 1px solid #d71153;
      color: #d71153;
    }
  }

  .status1 {
    span {
      color: #60ab00;
    }
  }

  .status2{
    span {
      color: #d71153;
    }
  }
}
  