page-bloglist {
  .container {
    .item {
      img {
        padding: 20px;
      }
  
      .title {
        padding: 20px;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }  
}
  