page-events {
  .container {
    .title {
      padding-top: 50px;
      padding-bottom: 15px;
      margin: 0;
      text-align: center;
    }
  
    .item {
      display: flex;
      
      .hour {
        flex: 1;
        padding: 24px 0;
        text-align: center;
        border-right: 1px solid #f4f4f4;
      }
  
      .content {
        flex: 3;
        padding: 24px 20px;
  
        .point {
          float: right;
        }
      }
    }
  }
}
  